
#inscript
{
    background-color: blueviolet;
    color: darkorange;
}

#info  
{
    background-color: brown;
}

#Pret
{
    background-color: chartreuse;
}

#div1
{
    background: darkgray;
}
#div2
{
    background: darkkhaki;
}




